<% unless params[:gon_watched_variable] %>
  <div id="container">
    <div id="header">
      <div class="logo">
        <h1><%= @room.name.upcase %></h1>
      </div>

      <div class="times">
        <span class="itime">
          <ul class="time-clock">
            <li>
              <a href="#">
                <div class="clock">
                  <ul>
                    <li id="hours"> </li>
                    <li id="point">:</li>
                    <li id="min"> </li>
                    <li id="point">:</li>
                    <li id="sec"> </li>
                  </ul>
                </div>
              </a>
            </li>
          </ul>
        </span>
        <span class="iday"><%= Date.today.strftime("%a, %d %b %Y") %></span>
      </div>
    </div> <!-- end header -->

    <div id="banner">
      <div id="current_meeting" class="row-fluid">
        <%= render partial: "status" %>
      </div>
    </div> <!-- end banner -->

    
    <div id="wrapper-schedule" class="row-fluid">
      <%= render partial: "queue" %>
    </div> 
  </div> 
<% end %>
