<div class="container-fluid password-container">
  <%= render "private/shared/errors" %>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-signin"}) do |f| %>
    <h2 class="form-signin-heading"><strong>Office</strong> Service</h2>
    <div class="control-group">
      <div class="controls">
        <span class="add-on"><i class="icon-user"></i></span>
        <%= f.email_field :email, placeholder: "Enter your email", required: true %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="pull-right">
          <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>

  <div class="signInRow">
    <div><h1>Forgot Password</h1></div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>