<div class="ac_cart">
  <span class="ac_close"></span>
  <h2>Your Booking</h2>
  <ul>
    <li class="facilities">&nbsp;</li>
    <li>
      <table class="table">
        <thead>
          <th>Room</th>
          <th>Book At </th>
          <th>Company</th>
          <th>Title</th>
          <th style="width: 5px;"> </th>
        </thead>
        <tbody>
          <%= render "booking_detail" %>
        </tbody>
      </table>  
    </li>
    <li>
      <%= link_to "Check Out", check_out_users_path, class: "btn btn-small btn-inverse" if @cart.cart_items.present? %>
    </li>
  </ul>
</div>