			<article id="content" class="cols-b">
				<form  onSubmit="return submitForm();" action="" method="post" class="form-b" name="homefrm1" id="homefrm1">
					<input type="hidden"  name="event" value="start" />
					<fieldset>
						<div id="alert">
								<div class="message"></div>
						</div>
						<legend>Send Us a Message</legend>
						<p>
							<label for="fba">Your name</label>
							<input type="text" id="fba" name="name" required>
						</p>
						<p>
							<label for="fbb">Your email</label>
							<input type="email" id="fbb" name="email" required>
						</p>
						<p>
							<label for="fbc">Your message</label>
							<textarea id="fbc" name="msg" required></textarea>
						</p>
						<p><button type="submit">Submit</button></p>
					</fieldset>
				</form>
				<aside>
					<h3>Location Map</h3>
					<figure class="map-a">
						<iframe width="620" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Jl.+Kebayoran+Lama,+South+Jakarta,+South+Jakarta+City,+DKI+Jakarta+12240,+Indonesia&amp;aq=0&amp;oq=Jalan+Kebayoran+Lama&amp;sll=37.0625,-95.677068&amp;sspn=37.546691,80.859375&amp;ie=UTF8&amp;split=0&amp;geocode=FbLLoP8dEGRdBg&amp;hq=&amp;hnear=Jl.+Kebayoran+Lama&amp;t=m&amp;ll=-6.239282,106.797495&amp;spn=0.029863,0.053215&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;q=Jl.+Kebayoran+Lama,+South+Jakarta,+South+Jakarta+City,+DKI+Jakarta+12240,+Indonesia&amp;aq=0&amp;oq=Jalan+Kebayoran+Lama&amp;sll=37.0625,-95.677068&amp;sspn=37.546691,80.859375&amp;ie=UTF8&amp;split=0&amp;geocode=FbLLoP8dEGRdBg&amp;hq=&amp;hnear=Jl.+Kebayoran+Lama&amp;t=m&amp;ll=-6.239282,106.797495&amp;spn=0.029863,0.053215&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
					</figure>
				</aside>
			</article>