			<section id="content" class="cols-e">
				<article class="news-e">
					<header>
						<h1>WELCOME TO DOMIKADO MEETING ROOM</h1>
						<h2>Lorem Ipsums Un Voluptas Sadipts Nemis Sits Fugiat Dolores</h2>
					</header>
					<p>At vero eos et accusamus et iusto odios un  dignissimos ducimus qui blan ditiis prasixer esentium voluptatum un deleniti atqueste sites excep turiitate non providentsimils. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,  consequunturser magni dolores eos qui ratione voluptatem sequi nesciunt...</p>
				</article>
				<aside>
					<div class="tabs-b">
						<div>
							<div class="news-f">
								<h2 style="text-align:center; color:#088AD5;">OUR ROOMS</h2>
								<% @rooms.each do |room| %>
								<article>
									<figure><%= image_tag room.picture.url(:medium) %></figure>
									<p><%= room.name %></p>
									<p><b><%= link_to "Booking Now", room_path(room) %> &raquo;</b></p>
								</article>
								<% end %>
							</div>
						</div>
					</div>
				</aside>
			</section>