<div id="schedule-list">
  <div class="schedule-time">
    <p><%= Time.at(queue.start_time).strftime("%H:%M") %> - <%= Time.at(queue.end_time).strftime("%H:%M") %></p>
  </div>
  <div class="schedule-logo">
    <%= image_tag "sapdept.png" %>
  </div>
  <div class="schedule-departement">
    <p><%= queue.order.company %></p>
  </div>
  <div class="schedule-title">
    <p>Meeting Project Power Plan 2013</p>
  </div>
</div>