<div class="banner-image">
  <div class="banner-logo">
    <%= image_tag "sap.png" %>
  </div>

  <% if @current_meeting %>
    <p class="banner-time">
      <%= Time.at(@current_meeting.start_time).strftime("%H:%M") %> - <%= Time.at(@current_meeting.end_time).strftime("%H:%M") %>
    </p>
    <p class="banner-title">
      <%= @current_meeting.order.company %>
    </p>
  <% else %>
    <p class="banner-title">
      Room is Available
    </p>
  <% end %>
</div>