/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require private/bootstrap-responsive.min
 *= require private/bootstrap.min
 *= require private/font-awesome.min
 *= require private/slider
 *= require private/toggle-switch
 *= require private/bootstrap-wysihtml5-0.0.2
 *= require private/theme.default
 *= require private/bootstrap-editable
 *= require private/jquery.selectBoxIt
 *= require private/colorpicker
 *= require private/datepicker
 *= require private/jquery.jgrowl.min
 *= require private/bootstrap-tags
 *= require private/colorbox
 *= require jquery.timepicker
 *= require private/thekamarel
 *= require private/thekamarel-responsive
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(OpenSans-Light300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(OpenSans-Semibold600.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(OpenSans-Bold700.woff) format('woff');
}
