<!-- ==================== MAIN MENU ==================== -->
<div class="mainmenu">
  <div class="container-fluid">
    <ul class="nav">
      <li class="collapseMenu">
        <a href="#">
          <i class="icon-double-angle-left"></i>hide menu
          <i class="icon-double-angle-right deCollapse"></i>
        </a>
      </li>
      <li class="divider-vertical firstDivider"></li>
      <li class="left-side" id="dashboard">
        <%= link_to private_dashboard_path, "data-push"=>"true", "data-target"=>"div.content" do %>
          <i class="icon-dashboard"></i> DASHBOARD
        <% end %>
      </li>
      <% if can?(:index, RoomOrder) %>
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <%= link_to private_room_orders_path do %>
            <i class="icon-calendar"></i> 
            ROOM ORDERS
          <% end %>
        </li>
      <% end %>
      <% if can?(:index, FoodOrder) %>
        <li class="divider-vertical"></li>
        <li id="interfaceElements">
          <a href="interface.html">
            <i class="icon-bookmark"></i> 
            FOOD ORDERS
          </a>
        </li>
      <% end %>
      <% if can?(:index, Room) %>
        <li class="divider-vertical"></li>
        <li id="buttonsIcons">
          <%= link_to private_rooms_path do %>
            <i class="icon-th"></i> 
            MANAGE ROOMS
          <% end %>
        </li>
      <% end %>
      <li class="divider-vertical"></li>
      <li id="gridLayout">
        <a href="grid.html">
          <i class="icon-list"></i> 
          MANAGE FOODS
        </a>
      </li>
      <li class="divider-vertical"></li>
      <li id="tables">
        <a href="tables.html">
          <i class="icon-user"></i> 
          MANAGE USERS
        </a>
      </li>
      <li class="divider-vertical"></li>
      <li class="right-side" id="chartsGraphs">
        <a href="charts.html">
          <i class="icon-th-large"></i> 
          MANAGE COMPANIES 
        </a>
      </li>
      <li class="divider-vertical"></li>
      <li class="right-side" id="chartsGraphs">
        <a href="charts.html">
          <i class="icon-bar-chart"></i> 
          MANAGE REPORTS 
        </a>
      </li>
      <li class="divider-vertical"></li>
    </ul>
   </div>
</div>
<!-- ==================== END OF MAIN MENU ==================== -->