<!-- ==================== MAIN MENU ==================== -->
<div class="mainmenu">
  <div class="container-fluid">
    <ul class="nav">
      <li class="collapseMenu">
        <a href="#">
          <i class="icon-double-angle-left"></i>hide menu
          <i class="icon-double-angle-right deCollapse"></i>
        </a>
      </li>
      <li class="divider-vertical firstDivider"></li>
      <li class="left-side" id="dashboard">
        <%= link_to private_dashboard_path, "data-push"=>"true", "data-target"=>"div.content" do %>
          <i class="icon-dashboard"></i> DASHBOARD
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="formElements"><i class="icon-list"></i> FORMS <span class="label label-pressed">3</span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="common-form.html">COMMON ELEMENTS</a></li>
          <li><a tabindex="-1" href="validation-form.html">VALIDATION</a></li>
          <li><a tabindex="-1" href="form-wizard.html">WIZARD</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
      <li id="interfaceElements"><a href="interface.html"><i class="icon-pencil"></i> UI ELEMENTS</a></li>
      <li class="divider-vertical"></li>
      <li id="buttonsIcons"><a href="buttons.html"><i class="icon-tint"></i> BUTTONS & ICONS</a></li>
      <li class="divider-vertical"></li>
      <li id="gridLayout"><a href="grid.html"><i class="icon-th"></i> GRID LAYOUT</a></li>
      <li class="divider-vertical"></li>
      <li id="tables"><a href="tables.html"><i class="icon-th-large"></i> TABLES</a></li>
      <li class="divider-vertical"></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="samplePages"><i class="icon-globe"></i> EXAMPLE PAGES <span class="label label-pressed">4</span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="login.html">LOGIN PAGE</a></li>
          <li><a tabindex="-1" href="calendar.html">CALENDAR</a></li>
          <li><a tabindex="-1" href="404.html">PAGE 404</a></li>
          <li><a tabindex="-1" href="gallery.html">GALLERY</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
      <li><a href="widgets.html" id="widgets"><i class="icon-play-circle"></i> WIDGETS</a></li>
      <li class="divider-vertical"></li>
      <li class="right-side" id="chartsGraphs"><a href="charts.html"><i class="icon-bar-chart"></i> CHARTS & GRAPHS </a></li>
      <li class="divider-vertical"></li>
    </ul>
   </div>
</div>
<!-- ==================== END OF MAIN MENU ==================== -->