<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><strong class="brandBold">Office</strong>Service</a>
      <div class="nav pull-right">
        <form class="navbar-form">
          <div class="input-append">
            <div class="collapsibleContent">
              <% if current_user.room_admin? || current_user.super_admin? %>
                <a href="#pendingRoomContent" class="sidebar">
                  <span class="add-on add-on-middle add-on-mini add-on-dark" id="tasks">
                    <i class="icon-calendar"></i>
                    <span class="notifyCircle cyan total_pending_room"><%= @pending_rooms.count %></span>
                  </span>
                </a>
              <% end %>

              <!-- <a href="#notificationsContent" class="sidebar">
                <span class="add-on add-on-middle add-on-mini add-on-dark" id="notifications">
                  <i class="icon-bell-alt"></i>
                  <span class="notifyCircle orange">9</span>
                </span>
              </a> -->

              <a href="#profileContent" class="sidebar">
                <span class="add-on add-on-mini add-on-dark" id="profile">
                  <i class="icon-user"></i>
                  <span class="username"><%= current_user.name %></span>
                </span>
              </a>
            </div>

            <a href="#collapsedSidebarContent" class="collapseHolder sidebar">
              <span class="add-on add-on-mini add-on-dark">
                <i class="icon-sort-down"></i>
              </span>
            </a>
          </div>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>